%from stagehand.utils import episode_status_icon_info
<div style='padding: 0 64px; display: table; margin: 2em auto'>
    <div>
        <div style='float: left; padding-right: 2em'>
            Include 
            <select id='select-status' style='width: 11em'>
                <option value='have' class='image-have'>downloaded</option>
                <option value='all' class='image-all'>all</option>
            </select>
            from the
            <select id='select-weeks' style='width: 12em'>
                <option value='1'>last week</option>
                <option value='2'>last 2 weeks</option>
                <option value='4'>last month</option>
                <option value='8'>last 2 months</option>
                <option value='24'>last 6 months</option>
            </select>
        </div>
        <button style='float: right' id='button-search'>
            Download Needed Episodes Now
        </button>
    </div>
    <div style='clear: both; padding-top: 0.75em'></div>
    %include library/download-needed-episodes.tmpl root=root, buttonid='button-search', showid=''
    <script type='text/coffeescript'>
        $('#select-status :[value={{status}}]').attr 'selected', 'selected'
        $('#select-weeks :[value={{weeks}}]').attr 'selected', 'selected'
        $('select').selectmenu
            icons: [
                {find: '.image-all', icon: 'ui-icon-radio-on'},
                {find: '.image-have', icon: 'ui-icon-circle-arrow-s'},
                {find: '.image-need', icon: 'ui-icon-clock'}
            ]
            style: 'popup'
    </script>

    %if not episodes and not manager.retrieve_queue:
        <div style='text-align: center; padding: 1em'>
            <div style='padding: 0.5em 3em; background-color: #fffcd0; border: 1px solid #e5e1a0; 
                        display: inline-block; border-radius: 10px; font-size: 120%'>
                No episodes are needed, and no others match the above criteria.
            </div>
        </div>
    %else:
        %include library/episode-table-multiselect.tmpl tableid='episode-list', root=root

        <table id='episode-list' class='grid align-center interactive' width='100%' style='z-index: 2; position: relative'>
        <thead id='episode-list-header'>
        <tr> 
            <th style='padding: 0 0.7em'><input type='checkbox' /></th>
            <th style='text-align: left'>Series</th>
            <th style='padding: 0 0.7em'>#</th>
            <th style='text-align: left'>Episode Name</th>
            <th style='text-align: left'>Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        %if manager.retrieve_queue:
            <tr class='heading' id='group-downloads'>
                <td style='padding: 0'><input type='checkbox' /></td>
                <td colspan="5" style='text-align: left; padding-left: 0.5em'>
                    <b>Queued Downloads</b>
                </td>
            </tr>
            %for ep, results in manager.retrieve_queue:
                <tr id='{{ep.series.id}}-{{ep.code}}' class='ep download' >
                    <td style='padding: 0'><input type='checkbox' /></td>
                    <td style='text-align: left'>{{ep.series.name}}</td>
                    <td style='padding:0'>{{ep.season.number}}x{{ep.number}}</td>
                    <td style='text-align: left'>{{ep.name}}</td>
                    <td style='text-align: left; white-space: nowrap'>{{ep.airdate.strftime('%Y-%m-%d')}}</td>
                %ip = manager.get_episode_retrieve_inprogress(ep)
                %if ip:
                    <td align='valign' title='{{int(ip.progress.speed)}} KB/s'>
                        <div id="{{ep.series.id}}-{{ep.code}}-progressbar" style='height: 1.5em; width: 150px'>
                            <div style='position: absolute; width: 150px; text-align: center; color:white; font-size: 11px; padding-top: 3px' class='overlay'>
                                {{'%.1f' % (ip.progress.pos/1024.0)}} / {{'%.1f' % (ip.progress.max/1024)}} MB
                            </div>
                        </div>
                        <script type='text/coffeescript'>
                        $("[id='{{ep.series.id}}-{{ep.code}}-progressbar']").progressbar value: `{{ip.progress.percentage}}`
                        </script>
                    </td>
                %else:
                    <td>
                        %icon, title = episode_status_icon_info(ep)
                        <img src='{{root}}/static/img/icon-20-status-{{icon}}.png' alt='{{title}}' title='{{title}}' />
                    </td>
                %end
                </tr>
            %end

        %end
        %last_week = None
        %for ep, icon, title, week in episodes:
            %if last_week != min(week, 8):
                %last_week = min(week, 8)
                <tr class='heading' id='group-{{week}}'>
                    <td style='padding: 0'><input type='checkbox' /></td>
                    <td colspan="5" style='text-align: left; padding-left: 0.5em'>
                        %if week == 0:
                            <b>This Week</b>
                        %elif week == 1:
                            <b>Last Week</b>
                        %elif week <= 7:
                            <b>{{week}} Weeks Ago</b>
                        %else:
                            <b>Older than 2 Months</b>
                        %end
                    </td>
                </tr>
            %end
            <tr id='{{ep.series.id}}-{{ep.code}}' class='group-{{week}} ep' style='position: relative'>
                <td style='padding: 0'><input type='checkbox' /></td>
                <td style='text-align: left'>{{ep.series.name}}</td>
                <td style='padding:0'>{{ep.season.number}}x{{ep.number}}</td>
                <td style='text-align: left'>{{ep.name}}</td>
                <td style='text-align: left; white-space: nowrap'>{{ep.airdate.strftime('%Y-%m-%d')}}</td>
                <td>
                    <img src='{{root}}/static/img/icon-20-status-{{icon}}.png' alt='{{title}}' title='{{title}}' />
                </td>
            </tr>
        %end
        </tbody>
        </table>
    %end
</div>

<script type='text/coffeescript'>
    $('table.grid tr.ep td:not(:first-child)').wrapInner('<a />')
    $('table.grid tr.ep td a').each (i, e) ->
        e.href = "{{root}}/library/#{e.parentNode.parentNode.id.replace /-.*/, ''}"

    $('select').change ->
        window.location = "{{root}}/schedule/aired?weeks=#{$('#select-weeks').val()}&status=#{$('#select-status').val()}"

    last_download_queue = [`{{!','.join('["%s", "%s"]' % (ep.series.id, ep.code) for ep, results in manager.retrieve_queue)}}`]
    if last_download_queue.length > 0
        repeat 5000, ->
           stagehand.api('/api/shows/downloads')
            .done ({queue}) ->
                queue_changed = (queue.length != last_download_queue.length)
                current_download_queue = (item[..1] for item in queue)
                for [showid, code, progress], idx in queue
                    if last_download_queue[idx]?[0] != showid or last_download_queue[idx]?[1] != code
                        queue_changed = true
                    row = $("[id='#{showid}-#{code}'].download")
                    if progress
                        [percentage, current, total, speed] = progress
                        bar = row.find('.ui-progressbar')
                        bar.progressbar value: percentage
                        bar.parent().attr('title', "#{speed} KB/s")
                        bar.children('.overlay').text "#{current} / #{total} MB"
                if queue_changed
                    window.location.reload()
</script>

%rebase layout.tmpl title='Aired Episodes | Schedule', section="schedule", subsection='aired'
