%from datetime import datetime, timedelta
%today = datetime.now().replace(hour=0, minute=0, second=0, microsecond=0)
%future = today + timedelta(days=14)

%eps = [ep for series in manager.tvdb.series for ep in series.episodes if ep.airdate and ep.airdate >= today and ep.airdate <= future]
%eps.sort(key=lambda ep: ep.airdatetime)

%if not eps:
    <div style='margin: 3em; text-align: center'>
        <span style='padding: 1.5em; background-color: #fffcd0; border: 1px solid #e5e1a0; border-radius: 10px'>
            <img src='{{root}}/static/img/face-sad.png' width='48' height='48' align='absmiddle' />
            There are no upcoming episodes in the next two weeks.
        </span>
    </div>
%end

%last_series = None
%for ep in eps:
    %if ep.series.name != last_series:
        %if last_series:
            </div>
        %end
        %last_series = ep.series.name
        <div style='width: 650px; border:1px solid #ddd; margin: 2em auto; background-color: #f5f5f5'>
            <div style='background-color: #19132d; border-bottom: 1px solid #000; padding: 0.3em 0.5em; font-size: 120%; font-family: Arial'>
                <a href='{{root}}/library/{{ep.series.id}}' style='display: block; color: white'>
                    <b>{{ep.series.name}}</b>
                </a>
            </div>
            <a href='{{root}}/library/{{ep.series.id}}'><img src='{{root}}/api/shows/{{ep.series.id}}/banner' width='650' alt='' /></a>
    %end

    %airdatetime = ep.airdatetime
    %if ep.series.airtime:
        %time = airdatetime.strftime('%l:%M %p')
    %else:
        %time = ''
    %end
    <div class='schedule'>
        <div>
        <b>
        %if ep.airdate == today:
            Today
        %elif ep.airdate >= datetime.now() + timedelta(days=13):
            {{airdatetime.strftime('%A %b %e')}}
        %elif ep.airdate >= datetime.now() + timedelta(days=6):
            Next {{airdatetime.strftime('%A')}}
        %else:
            {{airdatetime.strftime('%A')}}
        %end
        </b>
        {{time}}
        <span style='color: #aaa'>&#9734;</span>
        {{ep.season.number}}x{{'%02d' % ep.number}}
        <span style='color: #aaa'>&#9734;</span>
        {{ep.name}}
        </div>

        %if ep.overview:
            <div class='overview'>
                {{ep.overview}}
            </div>
        %end
        <div class='icons'>
            <a href='http://www.imdb.com/title/{{ep.series.imdbid}}/'><img src='{{root}}/static/img/icon-16-imdb.png' alt='' align='absmiddle' style='padding-right: 5px' /></a>
            <a href='http://thetvdb.com/?tab=series&amp;id={{ep.series.get_id_for_provider("thetvdb")}}&amp;lid=7'><img src='{{root}}/static/img/icon-16-thetvdb.png' alt='' align='absmiddle' /></a>
        </div>

    </div>
%end
%if last_series:
    </div>
%end
%rebase layout.tmpl title='Upcoming Episodes | Schedule', section="schedule", subsection='upcoming'
